
/* font */
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  
  
  *{
    margin: 0;
    padding: 0;
  }

  body {
    max-width: 1230px;
    margin: 0 auto;
    background: #F1F1F3;
  }

  /* shared style */
  .title-1 {
    font-size: 56px;
    font-weight: 700;
  }
  .title-2 {
    font-size: 40px;
    font-weight: 700;
  }
  .title-3 {
    font-size: 32px;
    font-weight: 700;
  }
  .title-4 {
    font-size: 24px;
    font-weight: 700;
  }
  .title-5 {
    font-size: 20px;
    font-weight: 700;
  }

  .btn-primary {
    color: #fff;
    background: #006A50;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    transition: 1s;
  }
.btn-primary:hover {
    color: #006A50;
    background: #F1F1F3;
}


/* header styles starts */
#hero-section {
    margin-bottom: 80px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    margin-bottom: 20px;
}
nav .nav-btn {
    color: #006A50;
    background: #F1F1F3;
}
nav .nav-btn:hover {
    color: #fff;
    background: #006A50;
}

.hero-heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #C6E4D6;
    height: 560px;
    border-radius: 24px;
}
.hero-left {
    max-width: 622px;
}
.hero-left h4 {
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.hero-left h1 {
    color: #0E0E0E;
    margin-bottom: 24px;
}
.hero-right {
    max-width: 476px;
}

/* header styles ends */